.chat {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80vh;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.chat-input {
  margin-top: auto;
}