.message {
  display: flex;
  margin: 10px;
  align-items: flex-start;
  margin-bottom: 8px;
}

.message--local {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message--remote {
  align-self: flex-start;
}

.message__profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  align-self: flex-end;
}

.message--local .message__profile-photo {
  margin-right: 0;
  margin-left: 10px;
}

.message__username {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start;
}

.message--local .message__username {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-end;
}

.message__content {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
  word-break: break-word;
  text-align: left;
}

.message__content-wrapper {
  display: flex;
  flex-direction: column;
}

.message--local .message__content {
  background-color: #0b93f6;
  color: #ffffff;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message--remote .message__content {
  background-color: #e5e5ea;
  color: #000000;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.message__text {
  margin: 0;
}

.message__photo-content {
  display: flex;
}

